.footer{
    background-image: url(https://codersfree.nyc3.cdn.digitaloceanspaces.com/posts/conoce-5-lenguajes-de-programacion-basicos.jpg);
    text-align: center; 
}
.titulofooter{
    color: blue;
    text-shadow: 2px 2px white;
}